/* Paleta de Cores Oficial - Hospeda */
:root {
    --bg-azul-escuro: #002d4b;  
    --accent-dourado: #cca662;  
    --texto-claro: #ffffff;
    --texto-escuro: #212529;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #faf8f5; 
}

/* Customização da Navbar */
.navbar-hospeda {
    background-color: var(--bg-azul-escuro) !important;
    border-bottom: 3px solid var(--accent-dourado);
}
.navbar-brand img {
    max-height: 40px;
}
.nav-link {
    color: rgba(255, 255, 255, 0.75) !important;
}
.nav-link.active, .nav-link:hover {
    color: var(--accent-dourado) !important;
}

/* Seção Hero */
.hero-bg {
    background-color: var(--bg-azul-escuro);
    color: var(--texto-claro);
    padding: 80px 0;
    border-bottom: 5px solid var(--accent-dourado);
}
.btn-dourado {
    background-color: var(--accent-dourado);
    color: var(--bg-azul-escuro) !important;
    font-weight: bold;
    border: none;
}
.btn-dourado:hover {
    background-color: #b38f50;
    transition: 0.3s;
}
.img-hero {
    max-height: 380px;
    object-fit: cover;
    width: 100%;
}
.border-dourado {
    border: 3px solid var(--accent-dourado);
}

/* Elementos da página do Lobby */
.text-dourado-puro {
    color: var(--accent-dourado);
}
.card-vantagem {
    background-color: #ffffff;
    border: 1px solid #eee;
    transition: transform 0.3s;
}
.card-vantagem:hover {
    transform: translateY(-5px);
}
.bg-guia {
    background-color: #f2ebd9;
}